header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 1;
  margin: 0px auto;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo p {
  padding-left: 10px;
}

.nav {
  padding-right: 40px;
}

.nav span {
  padding: 0 10px;
}

a {
  color: black;
}

main {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 90px;
  border: 1px solid black;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.column.large {
  border: 1px solid black;
  width: 630px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column.medium {
  border: 1px solid black;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.column.small {
  border: 1px solid black;
  width: 240px;
}

.secondary {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.main-article {
  border: 1px solid black;
  display: block;
}

.article {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.fbi {
  height: 500px;
}

.news-bites {
  border: 1px solid black;
}

.story {
  border: 1px solid black;
}

.mother {
  border: 1px solid black;
  background-image: url("../images/img-story-main.png");
  display: flex;
  height: 300px;
  text-align: left;
}

.earth {
  border: 1px solid black;
  background-image: url("../images/img-story-2.png");
  display: flex;
  justify-content: center;
  height: 300px;
  width: 300px;
}

.cameras {
  border: 1px solid black;
  background-image: url("../images/img-story-3.png");
  display: flex;
  justify-content: center;
  height: 300px;
  width: 300px;
}

.cats {
  border: 1px solid black;
  background-image: url("../images/img-story-1.png");
  display: flex;
  justify-content: center;
  height: 300px;
}

.headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.main-article .headline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
